<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<h4>All Teams</h4>
<table class="table">
    <tr>
        <th></th>
        <th>Sport</th>
        <th>Players</th>
        <th>National Rank</th>
        <th>Coach</th>
    </tr>
    {{#each teamsInDB}}
    <tr>
        <td><a href="/teams/editTeam/{{_id}}">Edit Team</a></td>
        <td>{{sport}}</td>
        <td>{{players}}</td>
        <td>{{nationalRank}}</td>
        <td>{{coach}}</td>
    </tr>
    {{/each}}
</table>
<ul>
<li><a href="/teams/chooseStateForTeams">Choose Team By state</a></li>
<li><a href="/teams/chooseStateForTeamAdd">Add New Team</a></li>
</ul>
<form method="POST" action="/teams/?_method=DELETE">
    <input type="submit" value="Delete Noname Teams"/>
</form>