<nav>
    <a href="/main">Home</a>
    <a href="/states">View All States</a>
    <a href="/schools">View All Schools</a>
    <a href="/teams">View All Teams</a>
</nav>
<nav>
    <a href="/schools/chooseStateForSchools">See Schools By State</a>
    <a href="/teams/chooseStateForTeams">Choose Team By state</a>
</nav>
<h1>Edit Team Page</h1>
<p>{{singleTeam.sport}}</p>
<form method="POST" action="/teams/editTeam/{{singleTeam._id}}?_method=PUT">
    <label for="sport">Sport Name</label>
    <input type="text" name="sport" value="{{singleTeam.sport}}"/>

    <label for="players">Players</label>
    <input type="number" name="players" value="{{singleTeam.players}}"/>

    <label for="nationalRank">National Rank</label>
    <input type="number" name="nationalRank" value="{{singleTeam.nationalRank}}"/>

    <label for="coach">Coach</label>
    <input type="text" name="coach" value="{{singleTeam.coach}}"/>

    <input type="submit" value="Update Team"/>
</form>
<form method="POST" action="/teams/editTeam/{{singleTeam._id}}?_method=DELETE">
    <input type="submit" value="Delete Team"/>
</form>