<h1>{{stateInDB.state}} Schools</h1>

<p>{{matchingSchools.length}}</p>
{{!-- <ul>
    {{#each schoolsInDB}}
        <li>
            {{name}}
            {{state}}
        </li>
    {{/each}}
</ul> --}}
<a href="/schools/addSchool/{{stateInDB._id}}">Add New School</a>
<ul>
    {{#each matchingSchools}}
        <li>{{name}}
        <a href="/schools/editSchool/{{_id}}">Edit School</a>
        </li>
    {{/each}}

</ul>
<form method="POST" action="/schools/?_method=DELETE">
    <input type="submit" value="Delete Noname Schools"/>
</form>

