<h1>{{stateInDB.state}} Schools</h1>
<p>{{schoolsInDB}}
</p>
<p></p>
<ul>
    {{#each schoolsInDB}}
        <li>
            {{name}}
            {{state}}
        </li>
    {{/each}}
</ul>
<a href="/schools/addSchool/{{stateInDB._id}}">Add New School</a>
<ul>
    
</ul>

