<h1>{{stateInDB.state}} Schools</h1>

<p></p>
{{!-- <ul>
    {{#each schoolsInDB}}
        <li>
            {{name}}
            {{state}}
        </li>
    {{/each}}
</ul> --}}
<a href="/schools/addSchool/{{stateInDB._id}}">Add New School</a>
<ul>
    {{#each matchingSchools}}
        <li>{{name}}</li>
    {{/each}}

</ul>

