<div class="container">
<table class="table">
  <tr>
    <th id="stateHeader">State</th>
    <th id="capitalHeader">Capital</th> 
    <th>Population</th>
    <th>Higher Education Rank</th>
  </tr>
  {{#each statesInDB}}
  <tr>
    <td>{{state}}</td>
    <td>{{capital}}</td>
    <td>{{population}}</td>
    <td id="educationRank">{{higherEducationRank}}&nbsp;&nbsp;<a href="/schools/{{_id}}">
    See {{state}} Colleges</a>
    </td>
    <td><a href="/states/{{_id}}">Edit {{state}}</a></td>
  </tr>
  {{/each}}
</table>
</div>
<ul>
<a href="/schools">See All Schools</a>
</ul>
<form method="POST" action="/states/?_method=DELETE">
    <input type="submit" value="Delete Noname States"/>
</form>


